#first-heading  {color: aqua;}
.second-heading {color: blue;
font: size 40px;}
p{color: rgb(0, 0, 0);font-size: 17px;}
h1{color: darkturquoise  ;font-size: 60px;}
body    { background-image:url("https://scontent.fsgn13-2.fna.fbcdn.net/v/t39.30808-6/271806872_121416933725453_3039631850525222692_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=2Bn3YCsVIlMAX_Y-vLI&_nc_ht=scontent.fsgn13-2.fna&oh=00_AT9WSGyu9NG-PROsBiS8KwbPlnkkN1C08hzF8NMqEXWXlA&oe=6261E672");}